<div>{{details}}</div>
<br>
@if (details == "Ford Mustang") {
    El Ford Mustang 2024 es parte de la séptima generación del icónico
    muscle car estadounidense. Este modelo combina un diseño moderno con
    la potencia característica de los Mustangs. Con opciones de
    motorización como el V8 de 5.0L que genera 450 hp, el Mustang sigue
    siendo una de las opciones más populares para aquellos que buscan un
    coche con un excelente rendimiento, diseño agresivo y características
    tecnológicas de última generación.
} @else if (details == "Chevrolet Camaro") {
    El Chevrolet Camaro 2017 es una de las versiones más equilibradas del
    muscle car de Chevrolet, que ofrece una mezcla de potencia,
    rendimiento y tecnología. Disponible con varias opciones de
    motorización, como el motor turbo de 2.0L que produce 275 hp, el V6 de
    3.6L que entrega 335 hp, y el potente V8 de 6.2L con 455 hp, el Camaro
    2017 tiene algo para todos. Es conocido por su diseño musculoso y su
    agilidad en la carretera, especialmente en versiones como el Camaro
    SS.
} @else if (details == "Dodge Viper"){
    El Dodge Viper ACR 2015 es una versión de alto rendimiento de la
    famosa Dodge Viper. Este modelo está diseñado para un rendimiento
    extremo en pista, con un enfoque en la agilidad y la estabilidad. La
    ACR (American Club Racer) está equipada con un motor V10 de 8.4 litros
    que entrega una impresionante potencia de 645 hp. Es conocido por su
    impresionante capacidad en circuitos y por ser uno de los autos más
    rápidos y agresivos en su clase.
}
